<style>
#mid{
    background-color: rgb(241, 250, 252);
}

#con p:first-child {
    font-style: italic;
    color: #333333;
}

#con p:first-child:first-letter {
    font-size: 250%;
    margin: 10px 7px 0;
    float: left;
}

img{
    width:40%;
    height:30%;
}

h2, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
	font-weight:500;
}

</style>
{% block content %}
<div class="col-md-10 offset-1 mt-4">
     <div class="jumbotron" style=" background-image: url('https://i.gifer.com/7Ntk.gif');
        color:cornsilk;">
    <div class="container">
      <h1 class="display-3" id="neon" style="color: cornsilk;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;">Our Vision</h1>

      <p id="con"> Depression can be devastating for those who have it and their families. Fortunately, with early detection,
                 diagnosis and a treatment plan consisting of medication, psychotherapy and
                healthy lifestyle choices, many people can and do get better.</p>
</div>
    </div>
  </div><p>
      <div class="col-md-10 offset-1 mt-4">
  Depression is a complex condition and its causes are not fully understood.
                 However, various contributing factors can lead to depression.
                 These can include biological factors (for example, genetics or experience of physical illness or injury)
                 and psychological or social factors (experiences dating back to childhood, unemployment, bereavement, or
                 life-changing events such as pregnancy. Having a long-standing or life-threatening illness, such as heart disease,
                  back pain or cancer, has been associated with an increased risk of depression.
            </p>
            <div class="mt-2">
                Your treatment approach will be informed by the severity of your depression.
                Those with mild to moderate depression may benefit from talking therapies whilst people experiencing moderate to severe
                depression may find antidepressants or combination therapy to be more appropriate. There are other treatment options beyond
                 medication and talking therapies.
                For instance, people with mild depression might find exercise, self-help or consultations to be helpful.
                </div>
<div class="col-md-10 offset-2 mt-4">
                <h3 style="font-family: 'Open Sans', sans-serif;
	margin-bottom: 5%; margin-left:5%;
	font-weight:600;">WHO WE ARE:</h3>

	<h5 style="font-family: 'Open Sans', sans-serif;
	margin-bottom: 5%; margin-left:5%;
	font-weight:400;">Meet our team</h5>
</div>

<div class="col-md-10 offset-1 mt-4">
                <img src="http://cdn.onlinewebfonts.com/svg/img_258083.png" style="width:30%;height:25%;" >

                <img src="http://cdn.onlinewebfonts.com/svg/img_258083.png" style="width:30%;height:25%;" class="mz-8 offset-2">
    <p class="mt-4">
                We are the students of IIT Jammu. We made this project for hackathon 'hack the build'
                </p><!--abhi k liye itna hi chorr rhi hu baad me dekhenge-->
            </div></div>

{% endblock content %}